html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

* {
  font-family: 'PingFang TC', Microsoft JhengHei, 微軟正黑體, Arial, Helvetica, sans-serif;
}


.clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
