// 字
// 參數 顏色, 字體大小, 字體粗細, 字距
@mixin font-style($c: #000, $fs: 16px, $fw: 400, $ls: normal) {
  color: $c;
  font-size: $fs;
  font-weight: $fw;
  letter-spacing: $ls;
}


@mixin box-padding($padding) {
  box-sizing: border-box;
  padding: $padding;
}

@mixin flex($js: flex-start, $ai: center, $fd: row) {
  display: flex;
  justify-content: $js;
  align-items: $ai;
  flex-direction: $fd;
}

@mixin inline-flex($js: flex-start, $ai: center, $fd: row) {
  display: inline-flex;
  justify-content: $js;
  align-items: $ai;
  flex-direction: $fd;
}

@mixin position($type: center, $tb: 0px, $lr: 0px ) {
  @if $type == center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @if $type == tl {
    position: absolute;
    top: $tb;
    left: $lr;
  }

  @if $type == tr {
    position: absolute;
    top: $tb;
    right: $lr;
  }

  @if $type == bl {
    position: absolute;
    bottom: $tb;
    left: $lr;
  }

  @if $type == br {
    position: absolute;
    bottom: $tb;
    right: $lr;
  }
}

@mixin cus-radius($tl, $tr, $br, $bl) {
  border-top-left-radius: $tl;
  border-top-right-radius: $tr;
  border-bottom-right-radius: $br;
  border-bottom-left-radius: $bl;
}

// 移除button 所有預設
@mixin set-btn-default() {
  border: 0px transparent;
  outline: 0px transparent;
  background-color: transparent;
  cursor: pointer;
}

@mixin circle($wh: 10px, $r: 50%) {
  width: $wh;
  height: $wh;
  border-radius: $r;
}